$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss';
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


$brandfont: #2d3035;
$brandalpha: #046380;
$brandbeta: #8E001C;
$brandbkgd: #FDFCF7;

$break-small: 600px;
@media screen and (max-width: $break-small) {
    // this is where the media break changes go
}

body * {
	font-family: 'Open Sans', sans-serif;
}
body{
	position: relative;
	padding-top: 70px;
	background: $brandbkgd;
}

ul * {
	list-style: none;
}

a {
	color: $brandfont;

	&:hover {		
		color: $brandalpha;
		border-bottom: 3px solid $brandalpha;
		text-decoration: none;
	}
}
.container {
	max-width: 960px;
	margin: 0 auto;
}

.head {
	z-index: 10;
	background: $brandbkgd;
	position: fixed;
	top: 0px;
	width: 100%;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 1px;
	padding: 20px 0;

	ul {
		padding-left: 0px;

		li {
			padding-left: 0px;
			padding-right: 0px;
			text-align: center;
		}
	}
}

.hero {
	background: $brandfont;
	color: #CECECE;
	position: relative;	
	padding: 140px 0 160px;
	letter-spacing: 2px;

	h1 {
		color: #fff;
		text-transform: uppercase;
		font-size: 48px;
		margin-bottom: 0px;
		text-shadow: 0px 5px 5px black;
	}

	h3 {
		margin-top: 5px;
		margin-bottom: 50px;
	}

	p {
		float: none;
		margin: 0 auto;
		overflow: hidden;
		display: block;
		font-size: 18px;
		margin-bottom: 20px;
	}

	span  {
		font-style: italic;
		font-size: 20px;
	}
	a {
		font-style: italic;
		color: #fff;
	}

	.call {
		text-align: center;		
		float: none;
		margin: 0 auto;
	}
}

.port {
	padding: 50px 0;
	position: relative;
	background: $brandbkgd;
	text-align: center;

	.work-block {
		margin: 20px 0;
		padding: 0px;

		img {
			padding: 0px;
			height: 350px;
		}	

		.thumbcontent {
			text-align: left;
			padding: 50px;

			@media screen and (max-width: $break-small) {
				text-align: center;
			}

			p {
				margin: 30px 0px;

			}

			h2 {
				margin-bottom: 0px;
			}

			button {
				text-align: center;
				background: $brandalpha;

				a {
					color: #fff;					
				}
			}
		}
	}

	h2 {
		text-transform: uppercase;
		margin: 0px 0px 30px;
	}
}

.resume {
	background: $brandalpha;
	padding: 30px 0 50px;
	text-align: center;
	color: #fff;

	h2 {
		margin-bottom: 50px;
	}

	.skill-tainer {
		overflow: hidden;
	}

	.skill-block {
		margin: 40px 0px;
		text-align: center;
	}
}

.contact {
	padding: 30px 0 50px;
	overflow: hidden;
	text-align: center;
	color: #fff;
	background: $brandfont;

	h2 {
		padding-bottom: 30px;
		margin-bottom: 0px;
		border-bottom: 1px solid #fff;
		margin-bottom: 30px;

	}

	a {
		color: #fff;
	}

	.curious {
		margin-top: 30px;
		padding-top: 30px; 
		border-top: 1px solid #fff;
	}
}











